.contPrinc {
  display: flex;
  flex-direction: column;

  width: 85vw;
  height: 100vh;
}

.patua {
  font-family: "Patua One", serif;
  font-weight: bolder;
  font-style: normal;
  color: white;
  font-size: 6em;
  padding-top: 10rem;
  margin-left: 5rem;
}

.kode_mono {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  color: white;
  font-size: 1.3em;
}

.kode_mono_title{
      font-size: 2em;
      color: theme("colors.primary");
    }

.contSec {
  display: flex;
  
  width: 85vw;
  align-items: center;
  height: 100vh;
}

.card {
  
  padding: 0 30px;
  margin-right: 20px;
  box-sizing: border-box;
  /* max-width: 45vw; */
}



.photo {
  min-height: 450px;
  min-width: 450px;
  border-radius: 280px;
  background-color: rgba(129, 41, 41, 0.384);
}
