.contPrinc {
      display: flex;
      background-color: rgba(200, 224, 155, 0.384);
      width: 85vw;
      align-items: center;
      height: 100vh;
}

.card {
      background-color: rgba(87, 94, 75, 0.384);
      padding: 0 30px;
      margin-right: 20px;
      box-sizing: border-box;
      /* max-width: 45vw; */
}

.card p{
      background-color: rgba(71, 28, 55, 0.384);
}

.photo {
      min-height: 450px;
      min-width: 450px;
      border-radius: 280px;
      background-color: rgba(129, 41, 41, 0.384);
}