.contPrinc {
      background-color: rgba(81, 119, 145, 0.384);
      width: 15vw;
      height: 100vh;
}

.logo {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      padding-top: 40px;
    margin-bottom: 4rem
}
.itemmenu p {
      cursor: pointer;
      padding-left: 20px;
      box-sizing: border-box;
      background-color: rgba(98, 146, 146, 0.384);
}

.contPrinc img {
      background-color: rgba(87, 121, 48, 0.384);
}

.businessCard {
      display: flex;
      justify-content: center;
      background-color: rgba(0, 255, 255, 0.384);
}

.businessCard p {
      font-size: 1rem;
}