.contPrinc {
  background-color: theme("colors.secondary");
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 500;
}

.patua {
  font-family: "Patua One", serif;
  font-style: italic;
  font-size: 1em;
  color: rgb(231, 222, 204);
  text-shadow: 0 0 1px white, 0 0 1px white, 0 0 4px theme("colors.primary"),
    0 0 5px theme("colors.primary"), 0 0 6px theme("colors.primary"),
    0 0 8px theme("colors.primary"), 0 0 9px theme("colors.primary");
}

.logo {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 40px;
  margin-bottom: 4rem;
}
.itemmenu p {
  cursor: pointer;
  padding-left: 20px;
  box-sizing: border-box;
}

.businessCard {
  display: flex;
  justify-content: center;
}

.highResolution{
  display: block;
}

.businessCard p {
  font-size: 1rem;
}

@media screen and (max-width:1000px){
  .contPrinc{
    width: 160px;
  }
  .businessCard p{
    padding-left: 10%;
  }
  .contPrinc p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width:860px){
  .contPrinc{
    width: 160px;
  }
  .businessCard p{
    padding-left: 10%;
  }
  .contPrinc p {
    font-size: 0.8rem;
  }
}


@media screen and (max-width:430px){
  .contPrinc  {
   width: 150px;
   background-color: #272727c2;
   height: 100vh;
  }

  .logo {
    opacity: calc(60%);
  }
}

@media screen and (max-width:412px){
  .contPrinc  {
   width: 150px;
   background-color: #2727279d;
   height: 100vh;
  }

  .logo {
    opacity: calc(60%);
  }
}