.contPrinc{
      display: flex;
      flex-wrap: wrap;
      margin-left: 270px;
      margin-top: 6%;
      width: calc(100% - 270px);
      padding: 10px;
      position: relative;
      z-index: 1;
}

@media screen and (max-width:1000px){
  .contPrinc{
    margin-left: 180px;
    width: calc(100% - 180px);
  }
}

@media screen and (max-width:430px){
      .contPrinc{
        margin-left: 15px;
        width: calc(100% - 30px);
        margin-top: 80px;
      }
}