#contPrinc{
  background-image: url("/public/background.jpg");
}

.listCont {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  margin: 20px;
  margin: 50px;
  background-color: rgba(141, 141, 141, 0.5);
  width: fit-content;
  border-radius: 15px;
}

.listItem {
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 10px;
  background-color: theme("colors.secondary");
  width: 150px;
  transform: perspective(1000px) rotateX(5deg) rotateY(5deg);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), 0 0 10px rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.listCont h3 {
  margin-bottom: 10px;
  color: rgb(216, 216, 216);
  text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

.listCont img {
  width: auto;
  height: 40px;
}

.listCont a {
  display: flex;
  justify-content: center;
}
