#contPrinc {
  background-image: url("/public/background.jpg");
}

.patua {
  font-family: "Patua One", serif;
  margin-bottom: 20px;
  margin-left: 400px;
  font-style: normal;
  color: theme("colors.primary");
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #adadad, -1px 1px 0 #616060,
    1px 1px 0 #3a3a3a;
  font-size: 2em;
}

.listCont {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  margin-left: 280px;
  margin-right: -150px;
  background-color: rgba(141, 141, 141, 0.5);
  width: fit-content;
  border-radius: 15px;
}

.listItem {
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 10px;
  background-color: theme("colors.secondary");
  width: 150px;
  transform: perspective(1000px) rotateX(5deg) rotateY(5deg);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), 0 0 10px rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.listCont h3 {
  margin-bottom: 10px;
  color: rgb(216, 216, 216);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.listCont img {
  width: auto;
  height: 40px;
}

.listCont a {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .listCont {
    margin-left: 180px;
    margin-right: -110px;
    margin-bottom: 35px;
  }
  .patua {
    text-align: center;
  }
}

@media screen and (max-width: 760px) {
  .listCont {
    margin-right: -80px;
  }
  .patua {
    margin-left: 250px;
  }
}

@media screen and (max-width: 720px) {
  .listItem {
    width: 100px;
  }
  .patua {
    font-size: 1.7em;
  }
}

@media screen and (max-width: 430px) {
  .listCont {
    margin-left: 20px;
    margin-right: -30px;
  }
  .patua {
    margin-left: 25px;
  }
}
