
.listCont {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  margin: 20px;
  margin: 50px;
  background-color: rgb(141, 141, 141);
  width: fit-content;
  border-radius: 15px;
}

.listItem {
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 10px;
  background-color: rgb(78, 78, 78);
  width: 150px;
}

.listCont h3 {
  margin-bottom: 10px;
  color: rgb(216, 216, 216);
  text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

.listCont img {
  width: auto;
  height: 40px;
}

.listCont a {
  display: flex;
  justify-content: center;
}
