.hamburguerIcon {
      display: none;
      position: absolute;
      color: theme("colors.primary");
      font-size: 3rem;
      margin: 20px;
      opacity: calc(60%);
      z-index: 999;
}

@media screen and (max-width:430px){
      .hamburguerIcon{
            display: block;
      }
    }