@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  user-select: none;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1a1a1a;
  background-image: url(../public/background.jpg);
  background-size: auto;
  background-attachment: fixed;
  background-position: center;
}

@supports (background-image: url(data:image/webp;base64,UklGRiYAAABXEBP)) {
  body {
    background-image: url(../public/background.webp);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
